.Nav {
    display: flex;
    width: 80px;
    height: 1030px;
    padding-right: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}

.Nav_Container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Nav_Container-1 {
    padding: 10px;
    background-color: lightgray;
}

.Nav_Container-1 h2 {
    margin: 0;
}